{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <img src="{{url_for('static', filename='img/illustrations/main_window.jpg')}}" alt="Здесь должна была быть картинка">
    <p align="middle">
        <h6 class="display-6">The architecture of the world</h6>
        <a> За последний год многие жители России лишились возможности путешествовать по всему миру, <br>
            открывать для себя новые места и восхищаться чудесными архитектурными постройками. Именно <br>
            поэтому мы создали сайт, позволяющий исследовать мир, не выходя из собственной комнаты. <br>
            Технологии прогрессируют, а вместе с ними и архитектура разных стран мира, давайте вместе <br>
            насладимся каплей этого чуда!
</a>
    </p>
</body>
{% endblock %}